<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reminder.name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @reminder.priority %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reminder.description %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @reminder.completed %>
</p>

<p>
  <strong>User:</strong>
  <%= @reminder.user_id %>
</p>

<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
